{{#each model as |favorite| }}
   <div class="card" style="width: 20rem; float:left; margin:20px; position:relative; heigth:300px">
  <img width="100%" height="200" class="card-img-top" src="{{favorite}}" >
  <div class="card-body">
   
    <p><button {{action "deleteImagen" favorite }}>DELETE</button></p>
  </div>
</div>

{{/each}}

{{outlet}}